{% extends "layout.html" %}

{% set title = 'Add Job Band' %}

{% block content %} 

<div class="container"> 
    <div class="col-lg-4 col-md-4 col-sm-12">
    </div>
    
    <div class="col-lg-4 col-md-4 col-sm-12" id="accent-color">
        <div class="row">
            <form method="POST" action="" id="job-role-form">
                <div class="form-group">
                    <label for="jobTitle">Job Title:</label>
                    <input type="text" name="jobTitle" class="form-control" id="jobTitle">
                </div>

                <br><br>
                
                <div class="form-group">
                    <label for="jobRoleName">Job Band:</label>
                    <select name="jobBand" class="form-control" id="jobBand"> 
                    {% for band in JobRoles.jobBands %} 
                     <option value="{{band.jobBandID}}">{{band.jobBand}}</option>
                    {% endfor %}
                    </select>
                </div>

                <br><br>
                
                <div class="form-group">
                    <label for="jobCapability">Job Capability:</label>
                    
                    <select name="jobCapability" class="form-control" id="jobCapability">
                        {% for capability in JobRoles.jobCapabilities%}
                            <option value="{{capability.jobCapabilityID}}">{{capability.jobCapability}}</option>
                        {% endfor %}
                    </select>
                </div>

                <br><br>

                {# <div class="form-group">
                    <label for="jobDiscipline">Job Discipline:</label>
                    
                    <select name="jobDiscipline" class="form-control" id="jobDiscipline">
                        {% for discipline in JobRoles.jobDisciplines%}
                            <option value="{{discipline.jobDisciplineID}}">{{discipline.jobDiscipline}}</option>
                        {% endfor %}
                    </select>
                </div> 

                <br><br> #}

                <div class="form-group">
                    <label for="jobSpecification">Job Specification:</label>
                    <textarea name="jobSpecification" class="form-control" id="jobSpecification" form="job-role-form" rows="3"></textarea>
                </div>

                <br><br>

                <input type="submit" value="Submit" class="btn btn-primary" id="jobRoles-Button">
            </form>
        </div>
        
        <div class="col-lg-4 col-md-4 col-sm-12">
        </div>
    </div>
</div>
{% endblock %}