{% extends "layout.html" %}

{% set title = 'Add Job Band' %}

{% block content %} 

<div class="container"> 
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="formsPage">
            <h4>Add a Job Role</h4>
            <form method="POST" action="/add-job-role" id="job-role-form">
                <div class="form-group">
                    
                    {% if alert and alert.length > 0 %}
                        {% for error in alert %}    
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                    {{error.msg}}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>

                        {% endfor %}
                    {% endif %}

                    <label for="jobTitle">Job Title:</label>
                    <input type="text" name="jobTitle" class="form-control" id="jobTitle">
                </div>
                
                <br><br>
                
                <div class="form-group">
                    <label for="jobRoleName">Job Band:</label>
                    <select name="jobBandId" id="jobBand_datalist" class="form-control form-select"> 
                        {% for band in bands %} 
                            <option value="{{band.jobBandId}}">{{band.jobBand}}</option>
                        {% endfor %}
                    </select>
                </div>

                <br><br>
                
                <div class="form-group">
                    <label for="jobCapability">Job Capability:</label>
                    <select name="jobCapabilityId" id="jobCapability_datalist" class="form-control form-select">
                        {% for capability in capabilities %}
                            <option value="{{capability.jobCapabilityId}}">{{capability.jobCapability}}</option>
                        {% endfor %}
                    </select>
                </div>

                <br><br>

                <div class="form-group">
                    <label for="jobDiscipline">Job Discipline:</label>
                    <select name="jobDisciplineId" id="jobDiscipline_datalist" class="form-control form-select">
                        {% for discipline in disciplines %}
                            <option value="{{discipline.jobDisciplineId}}">{{discipline.jobDiscipline}}</option>
                        {% endfor %}
                    </select>
                </div> 

                <br><br>

                <div class="form-group">
                    <label for="jobSpecification">Job Specification:</label>
                    <textarea name="jobSpecification" class="form-control" id="jobSpecification" form="job-role-form" rows="3"></textarea>
                </div>

                <br><br>

                <div class="form-group">
                    <label for="jobCompetencies">Job Competencies:</label>
                    <textarea name="jobCompetencies" class="form-control" id="jobCompetencies" form="job-role-form" rows="3"></textarea>
                </div>

                <br><br>

                <input type="submit" value="Submit" class="btn btn-primary" id="AddForm-Button">
            </form>
        </div>
    </div>
</div>
{% endblock %}