{% extends "layout.html" %}

{% set title = 'Add Job Band' %}

{% block content %} 

<div class="container"> 
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="formsPage">
        <h4>Add a Job Band</h4>
            <form method="POST" action="/add-job-band">
                <div class="form-group">

                    {% if alert and alert.length > 0 %}
                        {% for error in alert %}    
                            <div class="alert alert-warning alert-dismissible fade show" role="alert" data-cy="alert">
                                    {{error.msg}}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>

                        {% endfor %}
                    {% endif %}


                    <label for="jobBand">Job Band Name:</label>
                    <input type="text" name="jobBand" class="form-control" id="jobBand" data-cy="jobBandInput">
                

                <br>

                    <label for="jobBandTraining">Job Band Training (URL) (Contain http:// or https:// and .):</label>
                    <input type="text" name="jobBandTraining" class="form-control" id="jobBandTraining" data-cy="jobBandTrainingInput">
                
                </div>

                <br>

                <input type="submit" value="Submit" class="btn btn-primary" id="AddForm-Button" data-cy="submitBtn">
            </form>
        </div>
    </div>
</div>
{% endblock %}