{% extends "layout.html" %}

{% set title = 'Job Roles Home' %}

{% block content  %}  

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12">

        </div>

        <div class="col-lg-6 col-md-6 col-sm-12">
            
            <h2>Job Roles Home</h2>

            <a href="job-roles"><button type="button" class="btn btn-primary btn-lg">View Job Roles</button></a>

        </div>

        <div class="col-lg-3 col-md-3 col-sm-12">

        </div>
        
    </div>
</div>

{% endblock %}