{% extends "layout.html" %}

{% set title = 'View Job Roles' %}

{% block content %}  

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12"> 
            <nav class="breadcrumb" aria-label="Breadcrumbs">
                <ol class="breadcrumb__items u-fs-s">
                    <li class="breadcrumb__item" id="breadcrumb-1">
                        <a class="breadcrumb__link" href="/">Home</a>
                        <img class="breadcrumb-svg-icon" src="/breadcrumb-svg-icon.svg">
                    </li>
                    <li class="breadcrumb__item active" id="breadcrumb-2">
                        Job Roles
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12"> 
            <h2>Job Roles</h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12"> 
            {% if jobRoles == "Error: There was a problem retrieving job roles." %}
                <h4> {{jobRoles}} </h4>
                <p> The service is not available right now. Please try again later. </p>
            {% elif jobRoles and jobRoles.length > 0 %}


                 <!--   <div class="input-group w-25 mb-3">
                            <input type="text" class="form-control" placeholder="Search for available job roles"aria-label="Recipient's username" aria-describedby="button-addon2">
                            <button class="btn btn-outline-primary" type="button" id="button-addon2">Search</button>
                    </div> -->

                {% for jobRole in jobRoles %}
                    
                    <div class="card" id="list{{jobRole.jobRoleID}}" data-cy="jobSummary{{jobRole.jobRoleID}}">
                        <details>
                                <summary id="list">{{jobRole.jobTitle}} ({{jobRole.jobBand}})</summary>
                            <ul>
                                    <li>Job Band: {{jobRole.jobBand}}</li>
                                    <li>Job Capability: {{jobRole.jobCapability}}</li>
                                    <li>Job Discipline: {{jobRole.jobDiscipline}}</li>
                                    <li><a href="/job-role-details/{{jobRole.jobRoleID}}" data-cy="jobRoleDetailsLink{{jobRole.jobRoleID}}">View Job Role Details</a></li>
                            </ul>
                        </details>
                    </div>

                {% endfor %} 


            {% else %}

                <h4> No results can be returned! </h4>

            {% endif %}

            <br>
        </div>
    </div>
</div>

{% endblock %}