{% extends "layout.html" %}

{% set title = 'Job Role Details' %}

{% block content %}

<div class="container">

{% if JobRoles and JobRoles.length > 0 %}

    {% for JobRole in JobRoles %}

            <div class="card text-center">
                
                <div class="card-header">

                    <strong>{{JobRole.jobTitle}}</strong>

                </div>
                
                <div class="card-body">
                    
                    <div id="list{{JobRole.jobRoleID}}">
                        
                        <div class="card">

                            <details>
                        
                                <summary id="list"> Job Role Details </summary>
                            
                                        <ul id="jobDetailsList">

                                            <li>Job Band: {{JobRole.jobBand}}</li>
                                            <li>Job Capability: {{JobRole.jobCapability}}</li>
                                            <li>Job Discipline: {{JobRole.jobDiscipline}}</li>

                                        </ul>

                            </details>

                        </div>    


                        <div class="card">

                            <details>

                                <summary id="list"> Job Competencies </summary>
                                        
                                        <p>{{JobRole.jobCompetencies}}</p>

                            </details>

                        </div>
                        
                        <div class="card">

                            <details>

                                <summary id="list"> Job Specification </summary>
                                        
                                        <p>{{JobRole.jobSpecification}}</p>

                                        {% if JobRole.jobProfileLink and JobRole.jobProfileLink.length > 0 %}
                                            <a href="{{JobRole.jobProfileLink}}">SharePoint Link</a>

                                        {% else%}

                                            <p>SharePoint Link Does Not Exist</p>

                                        {% endif %}
                            
                            </details>

                        </div>

                    <br>

                <div class="card-footer text-muted">

                    Job listing created: {{JobRole.recordCreated}}

                </div>

            </div>

        </div>



    {% endfor %}

    {% else %}

    <div class="container">

        <div class="row">

            <h4> No result can be returned! </h4>

        </div>

    </div>

    <br>

    {% endif %}


{% endblock %}