{% extends "layout.html" %}

{% set title = 'View Job Roles' %}

{% block content %}  

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12"> 


            {% if JobRoles and JobRoles.length > 0 %}

            <table class="table">

                <tr>
                    <th scope="col">Job Title</th>
                    <th scope="col">Job Spec</th>
                    <th scope="col">Job Band</th>
                    <th scope="col">Job Capability</th>
                    <th scope="col">Job Competencies</th>



                </tr>

                {% for JobRole in JobRoles %}

                    <tr>    
                        <td scope="row">{{JobRole.jobTitle}}</td>
                        <td>{{JobRole.jobSpec}}</td>
                        <td>{{JobRole.jobBand}}</td>
                        <td>{{JobRole.jobCapability}}</td>
                        <td>{{JobRole.jobCompetencies}}</td>
                    </tr>

                {% endfor %}

            </table>

            {% else %}

                <h4> No results can be returned! </h4>

            {% endif %}

        </div>
    </div>

</div>

{% endblock %}