{% extends "layout.html" %}

{% set title = 'Job Role Details' %}

{% block content %}
<div class="container">

{% if JobRole %}


            <div class="card">
                <div class="card-header" id="card-text">
                    <strong>{{JobRole.jobTitle}}</strong>
                </div>
                
                <div class="card-body">
                    <div id="list{{JobRole.jobRoleID}}">
                        <div class="card">
                            <details>
                                <summary id="list"> Job Role Details </summary>
                                        <ul id="jobDetailsList">
                                            <li>Job Band: {{JobRole.jobBand}}</li>
                                            <li>Job Capability: {{JobRole.jobCapability}}</li>
                                            <li>Job Discipline: {{JobRole.jobDiscipline}}</li>
                                        </ul>
                            </details>
                        </div>    

                        <div class="card">
                            <details>
                                <summary id="list"> Job Competencies </summary>       
                                        <p>{{JobRole.jobCompetencies}}</p>
                                        <p><a href="https://kainossoftwareltd.sharepoint.com/people/Shared%20Documents/Forms/AllItems.aspx?id=%2Fpeople%2FShared%20Documents%2FLeadership%20Competency%20Framework%20Documents%2FKainos%20Leadership%20Competency%20Framework%20%28Apprentice%20to%20Consultant%29%20v5%2E3%2Epdf&parent=%2Fpeople%2FShared%20Documents%2FLeadership%20Competency%20Framework%20Documents">SharePoint Link (For Details)</a></p>
                            </details>
                        </div>
                        
                        <div class="card">
                            <details>
                                <summary id="list"> Job Specification </summary>       
                                        <p>{{JobRole.jobSpecification}}</p>

                                        {% if JobRole.jobProfileLink and JobRole.jobProfileLink.length > 0 %}
                                            
                                            <a href="{{JobRole.jobProfileLink}}">SharePoint Link</a><br>

                                        {% else%}

                                            <p>SharePoint Link Does Not Exist</p>

                                        {% endif %}
                            </details>
                        </div>
                </div>

                <div class="card">
                            <details>
                                <summary id="list"> Job Role Responsibilties </summary>       
                                        <p>To be created</p>
                            </details>
                        </div>
                </div>

            </div>
                <div class="card-footer text-muted" id="card-text">
                    Job listing created: {{JobRole.recordCreated}}
                </div>
            </div>
        </div>

   

    {% else %}

    <div class="container">
        <div class="row">
            <div class="card card-header">
                <h4> No result can be returned! </h4>
            </div>
        </div>
    </div>

    {% endif %}


{% endblock %}