{% extends "login-layout.html" %}

{% set title = 'Login' %}

{% block content %} 

<div class="container"> 
    <div class="formPadding">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="formsPage" id="accent-color">

                <a href="/index">
                    <img src="/Images/KainosLogo.png" alt="Logo" id="LoginLogo">
                </a>
                
                <h4 id="loginHeading">Login</h4>
                <form method="POST" action="/login">
                    <div class="form-group">
                        <label for="email">Email: </label>
                        <input type="email" name="email" class="form-control" id="email" required="true" pattern="[a-z0-9._%+-]+@kainos.com$">
                    </div>
                        
                    <br><br>
                        
                    <div class="form-group">
                        <label>Password: </label>
                        <input type="password" name="password" class="form-control" id="password" required="true">
                    </div>
                        
                    <br><br>

                    <input type="submit" value="Login" class="btn btn-primary" id="Form-Button">

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}