{% extends "layout.html" %}

{% set title = 'Login' %}

{% block content %} 

<div class="container"> 
    <div class="col-lg-4 col-md-4 col-sm-12">
    </div>
    
    <div class="col-lg-4 col-md-4 col-sm-12" id="accent-color">
        <div class="row">
            <form method="POST" action="">
                <div class="form-group">
                    <label for="email">Email: </label>
                    <input type="email" name="email" class="form-control" id="email">
                </div>
                
                <br><br>
                
                <div class="form-group">
                    <label>Password: </label>
                    <input type="password" name="password" class="form-control" id="password">
                </div>
                
                <br><br>

                <input type="submit" value="Submit" class="btn btn-primary" id="jobRoles-Button">

            </form>
        </div>
        
        <div class="col-lg-4 col-md-4 col-sm-12">
        </div>
    </div>
</div>
{% endblock %}