{% extends "layout.html" %}

{% set title = 'Login' %}

{% block content %} 

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12" id="JobRolesMenu">
        {% if test %}
            <h2>Test auth</h2>
            {{test}}
            <a href="job-roles"><button type="button" class="btn btn-primary btn-lg" id="jobRoles-Button" data-cy="viewJobRoles">View Job Roles</button></a>
        {% else %}
            <p>Please login to view this page.</p>
        {% endif %}
        </div>
    </div>
</div>

{% endblock %}