{% extends "layout.html" %}

{% set title = 'User Profile' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12" id="jobRolesMenu">
            {% if error %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{error}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
            <h2>{{ exuser.email }}</h2>
            <h3>is Admin?: {{ exuser.role}}</h3>
        </div>
        {% block admin %}
        {% endblock %}
    </div>
</div>

{% endblock %}