#Logo{
    height: 40px;
    padding-left: 15px;
}

a {
    color:#283583;
}

a:hover {
    color:#283583;
}

body {
    background-color:#ffffff;
    overflow-x: hidden;
    font-family: "century-gothic" !important;
}

#card-text{
    text-align: center;
}

#login-btn{
    color: #283583;
    border-color: #283583;
}

#login-btn:hover {
    background-color: #283583;
    color: #ffffff;
    border-color: #ffffff;
}

#jobRoles-Button {
    background-color: #283583;
    color: #ffffff;
    border-color: #283583;
}

#jobRoles-Button:hover {
    background-color: #ffff;
    color: #283583;
    border-color: #283583;
}

#JobRolesMenu {
    text-align: center;
}

#page_container {
    position: relative;
    min-height: 93vh;
}

#content_wrap {
    padding-bottom: 2.5rem;   
  }

footer p {
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    color: #ffffff;
}

.page_footer {
    position: absolute;
    bottom: 0;
    margin: none;
    padding: none;
    width: 100%;
  }

  footer {
    background: linear-gradient( 180deg, #252d4f 0%, rgba(37,45,79,0) 100%),linear-gradient(90deg, #004631 .02%, #61a83f 27.47%, #61a83f 40.06%, #41679f 69.71%, #283583 100%);
    height: 98px;
  }

  #jobDetailsList li {
      text-align: left;
  }

  #list {
    padding: 10px;
  }

.card p {
    display: block;
    padding-left: 10px;
  }

.card a {
    display: block;
    padding-left: 10px;
}

.breadcrumb-svg-icon {
    height: 0.65rem;
    margin: 0 0.2rem;
    vertical-align: middle;
    width: 0.65rem;
}

.breadcrumb {
    align-items: center;
    display: flex;
    padding: 1rem 0;
}

.breadcrumb__items {
    margin: 0;
    padding: 0;
}

.breadcrumb__item {
    display: inline-block;
    margin: 0;
    white-space: nowrap;
}

#accent-color {
    border: solid #283583;
    color: #000000;
    padding: 20px;
    border-radius: 15px;
}

.formsPage {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#Form-Button  {
    background-color: #283583;
    color: #ffffff;
    border-color: #283583;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#Form-Button:hover  {
    background-color: #ffff;
    color: #283583;
    border-color: #283583;
}

.formsPage h4 {
    text-align: center;
    padding-bottom: 20px;
}